Repository Azure/azure-storage-fuse, pull requests merged in 2025-09, with the labels that each got.

#1933 Add support for parallel reads and writes to the same file from multi…
  common/util.go
  component/distributed_cache/distributed_cache.go
  component/libfuse/libfuse_handler.go
  internal/dcache/buffer.go
  internal/dcache/cluster_manager/cluster_manager.go
  internal/dcache/clustermap/clustermap.go
  internal/dcache/clustermap/utils.go
  internal/dcache/file_manager/chunk_io_tracker.go
  internal/dcache/file_manager/file_manager.go
  internal/dcache/file_manager/models.go
  internal/dcache/file_manager/read_pattern_tracker.go
  internal/dcache/file_manager/utils.go
  internal/dcache/file_manager/worker.go
  internal/dcache/metadata_manager/metadata_manager_impl.go
  internal/dcache/replication_manager/replication_manager.go
  internal/dcache/rpc/client/functions.go
  internal/dcache/rpc/server/handler.go
Labels: dcache

#1945 Document Blobfuse HTTPS communication and version check
  TSG.md
Labels: documentation

#1950 Personal/linuxsmiths/simplify rpc client reset close handling
  internal/dcache/file_manager/file_manager.go
  internal/dcache/file_manager/worker.go
  internal/dcache/replication_manager/replication_manager.go
  internal/dcache/rpc/client/client.go
  internal/dcache/rpc/client/client_pool.go
  internal/dcache/rpc/client/functions.go
Labels: dcache

#1949 Added ClustermapEpoch to all RPC requests and responses.
  internal/dcache/rpc/gen-go/dcache/models/GoUnusedProtection__.go
  internal/dcache/rpc/gen-go/dcache/models/models-consts.go
  internal/dcache/rpc/gen-go/dcache/models/models.go
  internal/dcache/rpc/gen-go/dcache/service/GoUnusedProtection__.go
  internal/dcache/rpc/gen-go/dcache/service/chunk_service-remote/chunk_service-remote.go
  internal/dcache/rpc/gen-go/dcache/service/service-consts.go
  internal/dcache/rpc/gen-go/dcache/service/service.go
  internal/dcache/rpc/models.thrift
Labels: dcache

#1952 Retry on connection reset once before failing and marking the node ne…
  internal/dcache/cluster_manager/cluster_manager.go
  internal/dcache/rpc/client/client_pool.go
  internal/dcache/rpc/client/functions.go
Labels: dcache

#1956 Personal/linuxsmiths/more resilience using clustermap epoch (#1953)
  internal/dcache/cluster_manager/cluster_manager.go
  internal/dcache/clustermap/clustermap.go
  internal/dcache/replication_manager/replication_manager.go
  internal/dcache/rpc/client/functions.go
  internal/dcache/rpc/server/handler.go
Labels: dcache

#1997 Update version to 2.6.0~preview.2
  common/types.go
Labels: V2, dcache

#1999 Close channel before looping to avoid blocking
  internal/dcache/metadata_manager/metadata_manager_impl.go
  internal/dcache/rpc/client/client_pool.go
  internal/dcache/rpc/server/handler.go
Labels: dcache

#1972 Updating go dependencies
  NOTICE
  blobfuse2-1es_ci.yaml
  go.mod
  go.sum
  go_installer.sh
Labels: pr-ready-for-review

#2011 Do not upload more chunks if max unacked is greater than a fixed size
  internal/dcache/file_manager/contiguity_tracker.go
  internal/dcache/file_manager/file_manager.go
  internal/dcache/file_manager/utils.go
  internal/dcache/rpc/server/handler.go
Labels: dcache
