Repository Azure/azure-storage-fuse, pull requests merged in 2025-05, with the labels that each got.

#1719 Implement FUSE IO callbacks
  component/distributed_cache/distributed_cache.go
  internal/dcache/clustermap/clustermap.go
  internal/dcache/clustermap/clustermap_impl.go
  internal/dcache/file_manager/file_manager.go
  internal/dcache/file_manager/utils.go
  internal/dcache/file_manager/worker.go
  internal/dcache/models.go
  internal/handlemap/handle_map.go
Labels: V2, dcache

#1733 set file size in property
  internal/dcache/metadata_manager/metadata_manager_impl.go
Labels: dcache, metadata_manager

#1730 Cluster manager audit
  component/distributed_cache/distributed_cache.go
  internal/dcache/cluster_manager/cluster_manager.go
  internal/dcache/cluster_manager/cluster_manager_impl.go
  internal/dcache/cluster_manager/cluster_manager_test.go
  internal/dcache/cluster_manager/utils.go
Labels: pr-ready-for-review, dcache

#1732 Clustermap audit
  internal/dcache/clustermap/clustermap.go
  internal/dcache/clustermap/clustermap_impl.go
Labels: pr-ready-for-review, dcache

#1735 RPC: Refactoring
  internal/dcache/replication_manager/replication_manager.go
  internal/dcache/replication_manager/utils.go
  internal/dcache/rpc/client/client_pool.go
  internal/dcache/rpc/client/functions.go
  internal/dcache/rpc/gen-go/dcache/models/models.go
  internal/dcache/rpc/models.thrift
  internal/dcache/rpc/rpc_test.go
  internal/dcache/rpc/server/handler.go
  internal/dcache/rpc/server/server.go
  internal/dcache/rpc/server/utils.go
  internal/dcache/rpc/utils.go
Labels: V2, pr-ready-for-review, dcache

#1736 getattr and readdir changes for dcache files
  component/distributed_cache/distributed_cache.go
  component/distributed_cache/utils.go
  internal/dcache/file_manager/file_manager.go
  internal/dcache/file_manager/utils.go
  internal/dcache/models.go
Labels: dcache

#1734 Metadata manager audit.
  internal/dcache/metadata_manager/metadata_manager_impl.go
Labels: pr-ready-for-review, dcache

#1737 Change size property for metadata files in dcache
  component/distributed_cache/utils.go
  internal/dcache/metadata_manager/metadata_manager_impl.go
Labels: pr-ready-for-review, dcache

#1738 RPC: Fix race condition between chunk IO and sync operations
  internal/dcache/rpc/server/handler.go
Labels: V2, pr-ready-for-review, dcache

#1739 Updated test case and few bug fixes
  component/distributed_cache/distributed_cache.go
  internal/dcache/cluster_manager/cluster_manager.go
  internal/dcache/cluster_manager/cluster_manager_test.go
  internal/dcache/clustermap/clustermap_dummy_success.json
  internal/dcache/clustermap/utils.go
  internal/dcache/clustermap/utils_test.go
  internal/dcache/metadata_manager/metadata_manager_impl.go
Labels: pr-ready-for-review, dcache

#1745 Adding fix-mv workflow
  internal/dcache/cluster_manager/cluster_manager.go
Labels: pr-ready-for-review, dcache

#1743 Add debug Fs for debugging the dcache
  component/distributed_cache/distributed_cache.go
  component/distributed_cache/utils.go
  component/libfuse/libfuse_handler.go
  component/libfuse/libfuse_wrapper.h
  internal/dcache/clustermap/utils.go
  internal/dcache/debug/callbacks.go
  internal/dcache/debug/debug_fs.go
  internal/dcache/models.go
  internal/handlemap/handle_map.go
Labels: pr-ready-for-review, dcache

#1750 RPC: Start and End sync changes
  internal/dcache/rpc/server/handler.go
  internal/dcache/rpc/server/utils.go
Labels: V2, pr-ready-for-review, dcache

#1754 Audit file manager package.
  component/distributed_cache/distributed_cache.go
  internal/dcache/file_manager/file_manager.go
  internal/dcache/file_manager/models.go
  internal/dcache/file_manager/utils.go
  internal/dcache/file_manager/worker.go
  internal/dcache/metadata_manager/metadata_manager_impl.go
Labels: pr-ready-for-review, dcache

#1749 Support Create dir in dcache
  component/distributed_cache/distributed_cache.go
  component/distributed_cache/utils.go
  internal/dcache/file_manager/worker.go
Labels: dcache

#1755 Add support for MinNodes config.
  internal/dcache/cluster_manager/cluster_manager.go
  internal/dcache/clustermap/clustermap.go
Labels: pr-ready-for-review, dcache

#1756 callback changes
  component/distributed_cache/distributed_cache.go
  component/libfuse/libfuse_handler.go
  internal/dcache/file_manager/utils.go
  internal/dcache/metadata_manager/metadata_manager_impl.go
  internal/dcache/rpc/server/handler.go
Labels: pr-ready-for-review, dcache

#1757 streamdir changes for unqualified path
  component/distributed_cache/distributed_cache.go
  component/libfuse/libfuse.go
  component/libfuse/libfuse_handler.go
  internal/component_options.go
Labels: pr-ready-for-review, dcache

#1760 readdir for unqualified path
  component/distributed_cache/distributed_cache.go
Labels: pr-ready-for-review, dcache

#1747 Replication Manager: Resync MV initial implementation
  common/log/base_logger.go
  component/azstorage/utils.go
  component/distributed_cache/distributed_cache.go
  internal/dcache/cluster_manager/cluster_manager.go
  internal/dcache/clustermap/clustermap.go
  internal/dcache/metadata_manager/metadata_manager_impl.go
  internal/dcache/models.go
  internal/dcache/replication_manager/models.go
  internal/dcache/replication_manager/replication_manager.go
  internal/dcache/replication_manager/utils.go
  internal/dcache/rpc/client/client_pool.go
  internal/dcache/rpc/client/functions.go
  internal/dcache/rpc/gen-go/dcache/models/models.go
  internal/dcache/rpc/models.thrift
  internal/dcache/rpc/server/handler.go
  internal/dcache/rpc/server/server.go
  internal/dcache/rpc/server/utils.go
  internal/dcache/rpc/utils.go
Labels: V2, pr-ready-for-review, dcache

#1769 Personal/linuxsmiths/retry rpcs on tcp connection closed error
  internal/dcache/rpc/client/client_pool.go
  internal/dcache/rpc/client/functions.go
  internal/dcache/rpc/response_error.go
  internal/dcache/rpc/utils.go
Labels: pr-ready-for-review, dcache

#1775 Release rpc client in error path
  internal/dcache/rpc/client/functions.go
Labels: dcache

#1768 RPC: Custom RPC response error
  internal/dcache/replication_manager/replication_manager.go
  internal/dcache/rpc/client/client_pool.go
  internal/dcache/rpc/gen-go/dcache/models/models.go
  internal/dcache/rpc/gen-go/dcache/service/service.go
  internal/dcache/rpc/models.thrift
  internal/dcache/rpc/response_error.go
  internal/dcache/rpc/server/handler.go
  internal/dcache/rpc/server/utils.go
  internal/dcache/rpc/service.thrift
Labels: V2, pr-ready-for-review, dcache

#1771 AI Scripts from build prep
  test/ai/checkpointLoad.sh
  test/ai/datasetDownload.py
  test/ai/kaggle.json
  test/ai/kaggle_download.py
  test/ai/load.py
  test/ai/master_mount.sh
  test/ai/mdata.sh
Labels: pr-ready-for-review

#1772 CVE Fixes
  go.mod
  go.sum
  go_installer.sh
Labels: pr-ready-for-review

#1779 Fix for an assert that fired as fixMV()->joinMV() used cm.RVNameToNod…
  internal/dcache/cluster_manager/cluster_manager.go
  internal/dcache/rpc/client/client_pool.go
  internal/dcache/rpc/client/functions.go
  internal/dcache/rpc/response_error.go
Labels: pr-ready-for-review, dcache

#1784 Personal/linuxsmiths/more fixes
  internal/dcache/cluster_manager/cluster_manager.go
  internal/dcache/rpc/client/client_pool.go
  internal/dcache/rpc/client/functions.go
Labels: pr-ready-for-review, dcache

#1777 RPC: Join/Update MV and Start/End Sync changes
  component/distributed_cache/distributed_cache.go
  internal/dcache/replication_manager/replication_manager.go
  internal/dcache/replication_manager/utils.go
  internal/dcache/rpc/client/functions.go
  internal/dcache/rpc/gen-go/dcache/models/models.go
  internal/dcache/rpc/models.thrift
  internal/dcache/rpc/server/handler.go
  internal/dcache/rpc/server/utils.go
  internal/dcache/rpc/utils.go
Labels: V2, pr-ready-for-review, dcache

#1791 More robustness fixes after extensive testing of various node up/down scenarios
  internal/dcache/cluster_manager/cluster_manager.go
  internal/dcache/clustermap/clustermap.go
  internal/dcache/metadata_manager/metadata_manager_impl.go
  internal/dcache/models.go
  internal/dcache/replication_manager/replication_manager.go
  internal/dcache/rpc/client/functions.go
  internal/dcache/rpc/response_error.go
  internal/dcache/rpc/server/handler.go
  internal/dcache/rpc/utils.go
Labels: pr-ready-for-review, dcache

#1793 Use block-cache while doing FS operations on Azure storage
  common/util.go
  component/distributed_cache/distributed_cache.go
  internal/pipeline.go
Labels: dcache

#1783 RPC: Added GetMVSize() API
  internal/dcache/replication_manager/replication_manager.go
  internal/dcache/rpc/client/functions.go
  internal/dcache/rpc/gen-go/dcache/models/models.go
  internal/dcache/rpc/gen-go/dcache/service/chunk_service-remote/chunk_service-remote.go
  internal/dcache/rpc/gen-go/dcache/service/service.go
  internal/dcache/rpc/models.thrift
  internal/dcache/rpc/server/handler.go
  internal/dcache/rpc/server/utils.go
  internal/dcache/rpc/service.thrift
  internal/dcache/rpc/utils.go
Labels: V2, pr-ready-for-review, dcache

#1794 Remove sync MV directory
  internal/dcache/replication_manager/models.go
  internal/dcache/replication_manager/replication_manager.go
  internal/dcache/replication_manager/utils.go
  internal/dcache/rpc/server/handler.go
  internal/dcache/rpc/server/utils.go
Labels: V2, dcache

#1801 Automated cluster functionality validator
  test/distributed_cache/test-cluster.sh
Labels: dcache

#1797 Adding basic error and sleep injection helpers
  common/error_inject.go
  common/log/logger.go
Labels: dcache

#1805 Return correct permission and times in stat for clustermap proc file
  internal/dcache/debug/callbacks.go
  internal/dcache/debug/debug_fs.go
Labels: pr-ready-for-review, dcache

#1804 Improve Read Perf
  internal/dcache/file_manager/buffer.go
  internal/dcache/file_manager/file_manager.go
  internal/dcache/file_manager/models.go
  internal/dcache/file_manager/utils.go
  internal/dcache/file_manager/worker.go
  internal/dcache/replication_manager/models.go
  internal/dcache/replication_manager/replication_manager.go
Labels: pr-ready-for-review, dcache
