Repository Azure/azure-storage-fuse, pull requests merged in 2025-04, with the labels that each got.

#1664 Update dependencies
  go.mod
  go.sum
Labels: V2, dependencies

#1670 Fix installer script in Ubuntu
  setup/setupUBN.sh
  setup/vmSetupAzSecPack.sh
Labels: V2

#1671 Correct account type of HNS accounts
  CHANGELOG.md
  common/types.go
  component/azstorage/azstorage.go
  component/azstorage/block_blob.go
  component/azstorage/block_blob_test.go
  component/azstorage/connection.go
  component/azstorage/datalake.go
  component/azstorage/datalake_test.go
  component/block_cache/block_cache.go
  go.mod
  go.sum
Labels: feature request, pr-ready-for-review

#1673 Override service version if requested
  CHANGELOG.md
  component/azstorage/policies.go
  component/azstorage/utils.go
Labels: feature request, pr-ready-for-review

#1660 Xload: Config changes
  cmd/mount.go
  common/util.go
  common/util_test.go
  component/xload/blockpool.go
  component/xload/blockpool_test.go
  component/xload/data_manager.go
  component/xload/data_manager_test.go
  component/xload/lister.go
  component/xload/lister_test.go
  component/xload/splitter.go
  component/xload/splitter_test.go
  component/xload/threadpool.go
  component/xload/utils.go
  component/xload/xcomponent.go
  component/xload/xload.go
  component/xload/xload_test.go
  setup/advancedConfig.yaml
  setup/baseConfig.yaml
Labels: V2, xload

#1654 Adding arm based benchmark tests
  .github/template/generate_page/action.yml
  .github/template/perftesting/action.yml
  .github/workflows/benchmark.yml
  component/block_cache/block_cache.go
  perf_testing/scripts/fio_bench.sh
  testdata/config/azure_block_bench.yaml
Labels: pr-ready-for-review, do not merge

#1695 Metamanager interface
  internal/dcache/metadata_manager/metadata_manager.go
  internal/dcache/metadata_manager/metadata_manager_impl.go
  internal/dcache/models.go
Labels: pr-ready-for-review, dcache, meta_manager

#1688 Added Storage Interface and Dcache Model #3
  component/distributed_cache/storage_callback_impl.go
  internal/dcache/metadata_manager/metadata_manager.go
  internal/dcache/metadata_manager/metadata_manager_impl.go
  internal/dcache/models.go
  internal/dcache/storage_callbacks.go
Labels: pr-ready-for-review, dcache

#1689 Added Cluster Manager#4
  internal/dcache/cluster_manager/cluster_manager.go
  internal/dcache/cluster_manager/cluster_manager_impl.go
Labels: pr-ready-for-review, dcache

#1701 metadata singleton object
  internal/dcache/metadata_manager/metadata_manager.go
  internal/dcache/metadata_manager/metadata_manager_impl.go
Labels: pr-ready-for-review, dcache

#1702 Implement getAttr, readdir callbacks for fuse
  component/distributed_cache/distributed_cache.go
  component/distributed_cache/utils.go
  component/distributed_cache/utils_test.go
Labels: pr-ready-for-review, dcache

#1703 Updated the initial interaction with distributed cache
  common/assert.go
  common/log/logger.go
  common/util.go
  component/distributed_cache/distributed_cache.go
  component/distributed_cache/distributed_cache_test.go
  component/distributed_cache/utils.go
  internal/dcache/cluster_manager/cluster_manager.go
  internal/dcache/cluster_manager/cluster_manager_impl.go
  internal/dcache/models.go
Labels: pr-ready-for-review, dcache

#1692 Added Cluster Map Creation #2
  component/distributed_cache/utils.go
  internal/dcache/cluster_manager/cluster_manager.go
  internal/dcache/cluster_manager/cluster_manager_impl.go
  internal/dcache/cluster_manager/cluster_manager_impl_test.go
Labels: pr-ready-for-review, dcache, cluster_manager

#1693 Punch HeartBeat #3
  internal/dcache/cluster_manager/cluster_manager.go
  internal/dcache/cluster_manager/cluster_manager_impl.go
  internal/dcache/cluster_manager/cluster_manager_impl_test.go
  internal/dcache/models.go
Labels: pr-ready-for-review, dcache, cluster_manager

#1708 Fix GO formatting for Thrift generated code and update NOTICE file
  NOTICE
  internal/dcache/rpc/gen-go/dcache/models/GoUnusedProtection__.go
  internal/dcache/rpc/gen-go/dcache/models/models-consts.go
  internal/dcache/rpc/gen-go/dcache/models/models.go
  internal/dcache/rpc/gen-go/dcache/service/GoUnusedProtection__.go
  internal/dcache/rpc/gen-go/dcache/service/chunk_service-remote/chunk_service-remote.go
  internal/dcache/rpc/gen-go/dcache/service/service-consts.go
  internal/dcache/rpc/gen-go/dcache/service/service.go
  internal/dcache/rpc/generate.sh
Labels: V2, pr-ready-for-review, dcache

#1699 Heartbeat & clustermap apis
  internal/dcache/metadata_manager/metadata_manager.go
  internal/dcache/metadata_manager/metadata_manager_impl.go
Labels: pr-ready-for-review, dcache, metadata_manager

#1698 Added metadata apis
  component/distributed_cache/distributed_cache.go
  component/distributed_cache/storage_callback_impl.go
  internal/dcache/metadata_manager/metadata_manager.go
  internal/dcache/metadata_manager/metadata_manager_impl.go
  internal/dcache/storage_callbacks.go
Labels: pr-ready-for-review, dcache, metadata_manager

#1696 Set Metadata added in azstorage
  component/azstorage/azstorage.go
  component/azstorage/block_blob.go
  component/azstorage/connection.go
  component/azstorage/datalake.go
  component/distributed_cache/distributed_cache.go
  component/distributed_cache/storage_callback_impl.go
  exported/exported.go
  internal/base_component.go
  internal/component.go
  internal/component_options.go
  internal/dcache/metadata_manager/metadata_manager.go
  internal/dcache/metadata_manager/metadata_manager_impl.go
  internal/dcache/storage_callbacks.go
  internal/mock_component.go
Labels: dcache

#1713 Updated updateClusterMapLocalCopyIfRequired implementation
  internal/dcache/cluster_manager/cluster_manager_impl.go
  internal/dcache/cluster_manager/cluster_manager_impl_test.go
Labels: pr-ready-for-review, dcache

#1705 Feature: Lazy unmount
  CHANGELOG.md
  cmd/mount.go
  cmd/mountv1_test.go
  cmd/unmount.go
  cmd/unmount_all.go
  cmd/unmount_test.go
Labels: feature request

#1707 Preload readme update
  CHANGELOG.md
  README.md
  go.mod
  go.sum
Labels: documentation

#1709 File Manager Implementation
  component/distributed_cache/distributed_cache.go
  internal/dcache/file_manager/buffer.go
  internal/dcache/file_manager/file_manager.go
  internal/dcache/file_manager/file_manager_test.go
  internal/dcache/file_manager/models.go
  internal/dcache/file_manager/utils.go
  internal/dcache/file_manager/worker.go
  internal/handlemap/handle_map.go
Labels: dcache

#1706 RPC APIs server-side implementation
  internal/dcache/rpc/client/client_pool.go
  internal/dcache/rpc/client/functions.go
  internal/dcache/rpc/gen-go/dcache/models/models.go
  internal/dcache/rpc/gen-go/dcache/service/chunk_service-remote/chunk_service-remote.go
  internal/dcache/rpc/gen-go/dcache/service/service.go
  internal/dcache/rpc/models.thrift
  internal/dcache/rpc/response_error.go
  internal/dcache/rpc/server/handler.go
  internal/dcache/rpc/server/server.go
  internal/dcache/rpc/server/utils.go
  internal/dcache/rpc/service.thrift
Labels: V2, pr-ready-for-review, dcache

#1700 MvRvMapping
  internal/dcache/cluster_manager/cluster_manager_impl.go
  internal/dcache/cluster_manager/cluster_manager_impl_test.go
  internal/dcache/models.go
Labels: pr-ready-for-review, dcache

#1715 Cluster Manager API Implementation
  common/util.go
  component/distributed_cache/utils.go
  internal/dcache/cluster_manager/cluster_manager.go
  internal/dcache/cluster_manager/cluster_manager_impl.go
  internal/dcache/cluster_manager/cluster_manager_impl_test.go
  internal/dcache/cluster_manager/clustermap_dummy_success.json
  internal/dcache/cluster_manager/utils.go
  internal/dcache/cluster_manager/utils_test.go
  internal/dcache/metadata_manager/metadata_manager_impl.go
  internal/dcache/models.go
Labels: pr-ready-for-review, dcache

#1711 Replication manager initial code
  internal/dcache/replication_manager/models.go
  internal/dcache/replication_manager/replication_manager.go
  internal/dcache/replication_manager/utils.go
  internal/dcache/rpc/client/functions.go
  internal/dcache/rpc/response_error.go
  internal/dcache/rpc/server/handler.go
  internal/dcache/rpc/server/utils.go
Labels: V2, dcache

#1714 rmdir to delete directory only if its empty
  CHANGELOG.md
  blobfuse2-ci.yaml
  blobfuse2-nightly.yaml
  component/file_cache/file_cache.go
  component/file_cache/file_cache_test.go
  component/libfuse/libfuse2_handler.go
  component/libfuse/libfuse2_handler_test_wrapper.go
  component/libfuse/libfuse_handler.go
  component/libfuse/libfuse_handler_test_wrapper.go
  internal/base_component.go
  internal/component.go
  internal/mock_component.go
Labels: bug

#1717 RPC: Chunk Service handler initialization
  internal/dcache/replication_manager/utils.go
  internal/dcache/rpc/client/client_pool.go
  internal/dcache/rpc/client/functions.go
  internal/dcache/rpc/rpc_test.go
  internal/dcache/rpc/server/handler.go
  internal/dcache/rpc/server/server.go
  internal/dcache/rpc/server/utils.go
Labels: V2, pr-ready-for-review, dcache

#1720 Spell checks
  common/util.go
  component/distributed_cache/distributed_cache.go
  internal/dcache/cluster_manager/cluster_manager.go
  internal/dcache/cluster_manager/cluster_manager_impl.go
  internal/dcache/file_manager/file_manager.go
  internal/dcache/file_manager/models.go
  internal/dcache/rpc/server/handler.go
Labels: V2, pr-ready-for-review, dcache

#1716 Changes After 1st Integration Test
  component/distributed_cache/utils.go
  internal/dcache/cluster_manager/cluster_manager.go
  internal/dcache/cluster_manager/cluster_manager_impl.go
  internal/dcache/cluster_manager/cluster_manager_impl_test.go
  internal/dcache/clustermap/clustermap.go
  internal/dcache/clustermap/clustermap_impl.go
  internal/dcache/metadata_manager/metadata_manager_impl.go
  internal/dcache/models.go
Labels: pr-ready-for-review, dcache

#1721 RPC: Add reserved space for RV
  internal/dcache/rpc/server/handler.go
Labels: V2, pr-ready-for-review, dcache

#1722 RPC: Integration with cluster map
  common/util.go
  internal/dcache/cluster_manager/cluster_manager_impl.go
  internal/dcache/replication_manager/utils.go
  internal/dcache/rpc/client/client_pool.go
  internal/dcache/rpc/client/functions.go
Labels: V2, pr-ready-for-review, dcache
