Repository Azure/azure-storage-fuse, pull requests merged in 2025-07, with the labels that each got.

#1851 Preview binaries shall go with a different package name
  blobfuse2-release.yaml
Labels: feature request, pr-ready-for-review

#1845 Direct IO read write
  common/types.go
  common/util.go
  component/distributed_cache/distributed_cache.go
  internal/dcache/file_manager/file_manager.go
  internal/dcache/replication_manager/replication_manager.go
  internal/dcache/rpc/client/client_pool.go
  internal/dcache/rpc/server/handler.go
  internal/dcache/rpc/utils.go
Labels: V2, pr-ready-for-review, dcache

#1850 Decrement reserved space in multiple JoinMV calls
  internal/dcache/rpc/server/handler.go
Labels: V2, pr-ready-for-review, dcache

#1848 Periodic GC to reclaim the chunks of stale files.
  internal/dcache/file_manager/utils.go
  internal/dcache/gc/gc.go
  internal/dcache/metadata_manager/metadata_manager.go
  internal/dcache/metadata_manager/metadata_manager_impl.go
  internal/dcache/replication_manager/replication_manager.go
  internal/dcache/replication_manager/threadpool.go
  internal/dcache/replication_manager/utils.go
  internal/dcache/utils.go
Labels: pr-ready-for-review, dcache

#1849 schedule cluster map update improvements
  common/log/base_logger.go
  internal/dcache/cluster_manager/cluster_manager.go
  internal/dcache/metadata_manager/metadata_manager_impl.go
  internal/dcache/models.go
Labels: pr-ready-for-review, dcache

#1857 Add max-rvs config for user to specify the cluster size.
  component/distributed_cache/distributed_cache.go
  component/distributed_cache/distributed_cache_test.go
  internal/dcache/cluster_manager/cluster_manager.go
  internal/dcache/clustermap/clustermap_dummy_success.json
  internal/dcache/clustermap/utils.go
  internal/dcache/models.go
  internal/dcache/rpc/server/handler.go
  internal/dcache/rpc/server/utils.go
Labels: pr-ready-for-review, dcache

#1829 Add rvInfo's rwMutex in addToMVMap() method
  internal/dcache/cluster_manager/cluster_manager.go
  internal/dcache/rpc/server/handler.go
Labels: V2, pr-ready-for-review, dcache

#1868 Fix when direct-io is enabled in the config file
  cmd/mount.go
  cmd/mount_test.go
Labels: bug, V2

#1871 Update Go dependencies for next release
  go.mod
  go.sum
Labels: upgrade

#1859 Inband offline detection of RVs
  .gitignore
  internal/dcache/cluster_manager/cluster_manager.go
  internal/dcache/clustermap/clustermap.go
  internal/dcache/clustermap/utils.go
  internal/dcache/models.go
  internal/dcache/replication_manager/replication_manager.go
  internal/dcache/replication_manager/threadpool.go
  internal/dcache/rpc/client/client_pool.go
  internal/dcache/rpc/response_error.go
  internal/dcache/rpc/server/handler.go
  internal/dcache/rpc/server/utils.go
Labels: pr-ready-for-review, dcache

#1883 Make adding myRVs to clustermap more efficient.
  .gitignore
  component/distributed_cache/parallel_writer.go
  internal/dcache/cluster_manager/cluster_manager.go
  internal/dcache/clustermap/clustermap.go
  internal/dcache/models.go
  internal/dcache/rpc/client/client_pool.go
  internal/dcache/rpc/server/handler.go
Labels: pr-ready-for-review, dcache

#1880 Allocate buffer from BufferPool while reading from the Local RV
  component/distributed_cache/distributed_cache.go
  internal/dcache/buffer.go
  internal/dcache/file_manager/buffer.go
  internal/dcache/file_manager/file_manager.go
  internal/dcache/file_manager/utils.go
  internal/dcache/file_manager/worker.go
  internal/dcache/replication_manager/models.go
  internal/dcache/replication_manager/replication_manager.go
  internal/dcache/rpc/gen-go/dcache/models/models.go
  internal/dcache/rpc/models.thrift
  internal/dcache/rpc/server/handler.go
  internal/dcache/rpc/server/utils.go
Labels: pr-ready-for-review, dcache

#1885 Few log fixes
  component/azstorage/azstorage.go
  internal/component_options.go
  internal/dcache/cluster_manager/cluster_manager.go
  internal/dcache/metadata_manager/metadata_manager_impl.go
Labels: dcache

#1886 Do not cleanup active MV directories when a node joins a cluster
  internal/dcache/cluster_manager/cluster_manager.go
  internal/dcache/clustermap/clustermap.go
  internal/dcache/clustermap/utils.go
  internal/dcache/replication_manager/replication_manager.go
  internal/dcache/replication_manager/utils.go
  internal/dcache/rpc/client/client_pool.go
  internal/dcache/rpc/server/handler.go
  internal/dcache/rpc/server/server.go
  internal/dcache/rpc/utils.go
Labels: pr-ready-for-review, dcache

#1870 Hard limit in file-cache shall be on by default to avoid issues related to disk running out of space
  CHANGELOG.md
  azure-pipeline-templates/package-install.yml
  common/types.go
  component/file_cache/file_cache.go
  component/file_cache/file_cache_test.go
Labels: bug

#1889 Add New stage to the Nightly pipeline
  azure-pipeline-templates/data-integrity.yml
  azure-pipeline-templates/linux-git.yml
  blobfuse2-nightly.yaml
Labels: ready-to-merge

#1891 ESRP and PMC migration to MI
  blobfuse2-release.yaml
Labels: V2

#1897 Increase file cache size limit in config file.
  testdata/config/azure_key.yaml
Labels: pr-ready-for-review
