Repository Azure/azure-storage-fuse, pull requests merged in 2025-06, with the labels that each got.

#1814 Az storage changes for dcache
  component/azstorage/azstorage.go
  component/azstorage/block_blob.go
  component/azstorage/block_blob_test.go
  component/azstorage/connection.go
  component/azstorage/datalake.go
  component/azstorage/datalake_test.go
  component/distributed_cache/storage_callback_impl.go
  internal/base_component.go
  internal/component.go
  internal/component_options.go
  internal/dcache/metadata_manager/metadata_manager_impl.go
  internal/dcache/storage_callbacks.go
  internal/mock_component.go
Labels: dcache

#1815 Undo reserved space and sync jobs added in case of failed RV state ch…
  internal/dcache/cluster_manager/cluster_manager.go
  internal/dcache/clustermap/clustermap.go
  internal/dcache/rpc/server/handler.go
Labels: pr-ready-for-review, dcache

#1812 Add MaybeOverwrite field in PutChunk request
  internal/dcache/cluster_manager/cluster_manager.go
  internal/dcache/replication_manager/replication_manager.go
  internal/dcache/rpc/gen-go/dcache/models/models.go
  internal/dcache/rpc/models.thrift
  internal/dcache/rpc/server/handler.go
  internal/dcache/rpc/utils.go
Labels: V2, pr-ready-for-review, dcache

#1820 Make joinmv idempotent, and other fixes
  internal/dcache/cluster_manager/cluster_manager.go
  internal/dcache/rpc/server/handler.go
Labels: pr-ready-for-review, dcache

#1799 Safe delete Support
  component/distributed_cache/distributed_cache.go
  component/distributed_cache/utils.go
  internal/dcache/file_manager/file_manager.go
  internal/dcache/file_manager/utils.go
  internal/dcache/metadata_manager/metadata_manager.go
  internal/dcache/metadata_manager/metadata_manager_impl.go
  internal/dcache/models.go
Labels: pr-ready-for-review, dcache

#1831 Add "removeAllChunks" option to the removeChunk RPC Request
  internal/dcache/rpc/gen-go/dcache/models/models.go
  internal/dcache/rpc/models.thrift
  internal/dcache/rpc/server/handler.go
Labels: pr-ready-for-review, dcache

#1838 RPC calls for RV local to the node
  internal/dcache/replication_manager/replication_manager.go
  internal/dcache/replication_manager/threadpool.go
  internal/dcache/replication_manager/utils.go
  internal/dcache/rpc/server/utils.go
Labels: V2, pr-ready-for-review, dcache

#1841 Reduce logs while doing readahead
  internal/dcache/clustermap/utils.go
  internal/dcache/file_manager/file_manager.go
  internal/dcache/file_manager/utils.go
Labels: pr-ready-for-review, dcache
